<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/admin/_admin}">
<head>
  <title>KLB Store</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="main-container">
			<div class="pd-ltr-20 xs-pd-20-10">
				<div class="min-height-200px">
					<div class="page-header">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="title">
									<h4>Quản Lý Sản Phẩm</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">
											<a href="index.html">Trang Chủ</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">
											Quản Lý Sản Phẩm
										</li>
									</ol>
								</nav>
							</div>
							<div class="col-md-6 col-sm-12 text-right">
								
							</div>
						</div>
					</div>
					<!-- Default Basic Forms Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Quản Lý Sản Phẩm</h4>
								<!-- <p class="mb-30">All bootstrap element classies</p> -->
							</div>
	
						</div>
						<form action="#" th:action="@{/admin/sanpham/save}" method="post" th:object="${items}">
							<div class="form-group row">
								<!-- <label class="col-sm-12 col-md-2 col-form-label">Mã Sản Phẩm</label> -->
								<div class="col-sm-12 col-md-10">
									<input th:field="*{sanPhamId}" class="form-control" type="hidden" placeholder="" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Tên Sản Phẩm</label>
								<div class="col-sm-12 col-md-10">
									<input th:field="*{tenSanPham}" class="form-control" type="text" placeholder="" />
									<span class="text-danger" th:if="${#fields.hasErrors('tenSanPham')}" th:errors="*{tenSanPham}"></span>
								</div>
							</div>
	
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Giá Bán</label>
								<div class="col-sm-12 col-md-10">
									<input th:field="*{giaBan}" class="form-control" type="number" placeholder="" />
									<span class="text-danger" th:if="${#fields.hasErrors('giaBan')}" th:errors="*{giaBan}"></span>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Hãng Sản Xuất</label>
								<div class="col-sm-12 col-md-10">
									<select th:field="*{danhMucSanPham}" class="custom-select col-12">
										<option th:each="tendm : ${danhMucSanPham}" th:value="${tendm.key}" th:text="${tendm.value}"></option>
										
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Xuất Xứ</label>
								<div class="col-sm-12 col-md-10">
									<input th:field="*{xuatSu}" class="form-control" type="text" placeholder="" />
									<span class="text-danger" th:if="${#fields.hasErrors('xuatSu')}" th:errors="*{xuatSu}"></span>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Lượt Xem</label>
								<div class="col-sm-12 col-md-10">
									<input th:field="*{soLuotXem}" class="form-control" type="text" placeholder="" />
									<span class="text-danger" th:if="${#fields.hasErrors('soLuotXem')}" th:errors="*{soLuotXem}"></span>
								</div>
							</div>
							<div class="form-group row">
								<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Ngày
									Tạo</label>
								<div class="col-sm-12 col-md-10">
									<input th:field="*{ngayTao}" class="form-control" placeholder="dd-MM-yyyy"
										type="datetime" readonly/>
										<!-- <span class="text-danger" th:if="${#fields.hasErrors('ngayTao')}" th:errors="*{ngayTao}"></span> -->
								</div>
							</div>
							
							
							<div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Mô Tả</label>
                                <div class="col-sm-12 col-md-10">
                                    <textarea th:field="*{moTa}" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Còn Hàng</label>
								<div class="col-sm-12 col-md-10">
									<select th:field="*{conHang}" class="custom-select col-12">
										<option value="true">Còn</option>
										<option value="false">Hết</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Nổi Bật</label>
								<div class="col-sm-12 col-md-10">
									<select th:field="*{noiBat}" class="custom-select col-12">
										<option value="false">Ẩn</option>
										<option value="true">Nổi Bật</option>
										
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-12 col-md-2 col-form-label">Hiển Thị</label>
								<div class="col-sm-12 col-md-10">
									<select th:field="*{hienThi}" class="custom-select col-12">
										<option value="false">Ẩn</option>
										<option value="true">Hiển Thị</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col align-self-end">
									<!-- <button th:onclick="'javascript:addToCart(' + ${sanPhamId} + ')'">Lưu</button> -->
									<button class="btn btn-outline-success">Lưu</button>
								</div>
							</div>
						</form>
	
					</div>
	
					<!-- Default Basic Forms End -->
	
	
					<div class="footer-wrap pd-20 mb-20 card-box">
						Web Design by
						<a href="#" target="_blank">KLB</a>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	<!-- <script>
		
	function addToCart(sanPhamId) {
        $.ajax({
          url: "/admin/sanpham",
          method: "POST",
          data: { sanPhamId:  sanPhamId},
          success: function (response) {
            console.log(response);
          },
          error: function (xhr, status, error) {
            console.error("Lỗi:", error);
          },
        });
      }
	</script> -->
</body>
</html>