<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/user/user}">
<head>
  <title>KLB Store</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="slider-with-banner">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8 col-md-8">
                        <div class="slider-area">
                            <div class="slider-active owl-carousel">
                                
                                <div class="single-slide align-center-left  animation-style-01 bg-1">
                                    <div class="slider-progress"></div>
                                    <div class="slider-content">
                                        <h5>Sale Off <span>-20% </span> Tuần Này</h5>
                                        <h2>Samsung Galaxy S9 | S9+</h2>
                                        <h3>Giá khởi đầu <span>3.690.000 ₫</span></h3>
                                        <div class="default-btn slide-btn">
                                            <a class="links" href="/user/shop-list">Mua Ngay</a>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="single-slide align-center-left animation-style-02 bg-2">
                                    <div class="slider-progress"></div>
                                    <div class="slider-content">
                                        <h5>Sale <span>Black Friday</span> Tuần Này</h5>
                                        <h2>Work Desk Surface Studio 2018</h2>
                                        <h3>Giá khởi đầu <span>12.990.000 ₫</span></h3>
                                        <div class="default-btn slide-btn">
                                            <a class="links" href="/user/shop-list">Mua Ngay</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 col-md-4 text-center pt-xs-30">
                        <div class="li-banner">
                            <a href="#">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fir-e2be5.appspot.com/o/user%2Fimages%2Fbanner%2F1_1.webp?alt=media&token=c33b9c85-187f-418c-bd5a-dc69d29a898a&_gl=1*1yspb3g*_ga*NjcxOTQzNTAzLjE2ODEzNjQ0NjI.*_ga_CW55HF8NVT*MTY4NjA2Njg0NC4zLjEuMTY4NjA2NzUxOC4wLjAuMA.." alt="">
                            </a>
                        </div>
                        <div class="li-banner mt-15 mt-sm-30 mt-xs-30">
                            <a href="#">
                                <img src="https://firebasestorage.googleapis.com/v0/b/fir-e2be5.appspot.com/o/user%2Fimages%2Fbanner%2F1_2.webp?alt=media&token=cfc4fc7b-8ca8-4d4a-b01f-9928842fbf17&_gl=1*hnwdak*_ga*NjcxOTQzNTAzLjE2ODEzNjQ0NjI.*_ga_CW55HF8NVT*MTY4NjA2Njg0NC4zLjEuMTY4NjA2NzYyNi4wLjAuMA.." alt="">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <section class="product-area li-laptop-product li-trendding-products best-sellers pt-60 pb-45">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12" th:if="${not #lists.isEmpty(noiBat)}">
                        <div class="li-section-title">
                            <h2>
                                <span>Bestsellers</span>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                <div class="col-lg-12" th:each="sp : ${noiBat}">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}">
                                                <img th:src="${sp.sanPhamMauSacs[0].duongDanAnh}"  alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="/user/shop-list" th:text="${sp.danhMucSanPham.tenDanhMucSanPham} + ' Brand'"></a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <th:block th:with="totalStars=${#numbers.sequence(1, 5)}">
                                                                <th:block th:with="totalRatings=${#lists.size(sp.sanPhamDanhGias)}">
                                                                    <th:block th:with="totalStarsCount=0">
                                                                        <th:block th:each="danhGia : ${sp.sanPhamDanhGias}">
                                                                            <th:block th:with="totalStarsCount=${totalStarsCount + danhGia.sao}">
                                                                            </th:block>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:with="averageRating=${totalRatings > 0 ? totalStarsCount / totalRatings : 0}">
                                                                        <th:block th:each="star : ${totalStars}">
                                                                            <li th:class="${averageRating >= star} ? 'filled-star' : 'no-star'"><i class="fa fa-star"></i></li>
                                                                        </th:block>
                                                                    </th:block>
                                                                </th:block>
                                                            </th:block>
                                                        </ul>
                                                        </div>
                                                </div>
                                                <h4><a class="product_name" th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}" th:text="${sp.tenSanPham}"></a></h4>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan.subtract(sp.giaBan.multiply(giamGia.giamGiaTrucTiep.divide(BigDecimal.valueOf(100)))), 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                            <span th:unless="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="new-price" th:unless="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                    </span>
                                                    <span class="old-price" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="discount-percentage" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="'-' + ${#numbers.formatDecimal(giamGia.giamGiaTrucTiep, 0, 'COMMA', 0, 'POINT')} + '%'" ></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                                                                                                                      
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active" th:data-color-id="${sp.sanPhamMauSacs[0].mauSacId}"><a href="#">Thêm vào giỏ</a></li>
                                                    <li><a class="links-details" href="/user/wishlist"><i class="fa fa-heart-o"></i></a></li>
                                                    <li>
                                                        <a href="javascript:void(0)" title="Xem nhanh" class="quick-view-btn" th:onclick="'openQuickViewModal('+${sp.sanPhamId}+')'">
                                                                <i class="fa fa-eye"></i>
                                                        </a>                                                        
                                                    </li>  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
        
        <section class="product-area li-laptop-product pb-45" th:if="${not #lists.isEmpty(laptop)}">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Laptop</span>
                            </h2>
                            <ul class="li-sub-category-list">
                                <li><a th:href="@{'/user/shop-list?nhomSanPhamId=' + ${laptop[0].danhMuc}}">Xem tất cả</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                <div class="col-lg-12" th:each="sp : ${laptop}">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}">
                                                <img th:src="${sp.sanPhamMauSacs[0].duongDanAnh}"  alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="/user/shop-list" th:text="${sp.danhMucSanPham.tenDanhMucSanPham} + ' Brand'"></a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <th:block th:with="totalStars=${#numbers.sequence(1, 5)}">
                                                                <th:block th:with="totalRatings=${#lists.size(sp.sanPhamDanhGias)}">
                                                                    <th:block th:with="totalStarsCount=0">
                                                                        <th:block th:each="danhGia : ${sp.sanPhamDanhGias}">
                                                                            <th:block th:with="totalStarsCount=${totalStarsCount + danhGia.sao}">
                                                                            </th:block>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:with="averageRating=${totalRatings > 0 ? totalStarsCount / totalRatings : 0}">
                                                                        <th:block th:each="star : ${totalStars}">
                                                                            <li th:class="${averageRating >= star} ? 'filled-star' : 'no-star'"><i class="fa fa-star"></i></li>
                                                                        </th:block>
                                                                    </th:block>
                                                                </th:block>
                                                            </th:block>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h4><a class="product_name" th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}" th:text="${sp.tenSanPham}"></a></h4>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan.subtract(sp.giaBan.multiply(giamGia.giamGiaTrucTiep.divide(BigDecimal.valueOf(100)))), 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                            <span th:unless="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="new-price" th:unless="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                    </span>
                                                    <span class="old-price" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="discount-percentage" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="'-' + ${#numbers.formatDecimal(giamGia.giamGiaTrucTiep, 0, 'COMMA', 0, 'POINT')} + '%'" ></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active" th:data-color-id="${sp.sanPhamMauSacs[0].mauSacId}"><a href="#">Thêm vào giỏ</a></li>
                                                    <li><a class="links-details" href="/user/wishlist"><i class="fa fa-heart-o"></i></a></li>
                                                    <li>
                                                        <a href="javascript:void(0)" title="Xem nhanh" class="quick-view-btn" th:onclick="'openQuickViewModal('+${sp.sanPhamId}+')'">
                                                                <i class="fa fa-eye"></i>
                                                        </a>                                                        
                                                    </li>  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="product-area li-laptop-product pb-45" th:if="${not #lists.isEmpty(dienThoai)}">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="li-section-title">
                            <h2>
                                <span>Điện thoại</span>
                            </h2>
                            <ul class="li-sub-category-list">
                                <li><a href="/user/shop-list">Xem tất cả</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="product-active owl-carousel">
                                <div class="col-lg-12" th:each="sp : ${dienThoai}">
                                    <div class="single-product-wrap">
                                        <div class="product-image">
                                            <a th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}">
                                                <img th:src="${sp.sanPhamMauSacs[0].duongDanAnh}"  alt="Li's Product Image">
                                            </a>
                                            <span class="sticker">New</span>
                                        </div>
                                        <div class="product_desc">
                                            <div class="product_desc_info">
                                                <div class="product-review">
                                                    <h5 class="manufacturer">
                                                        <a href="/user/shop-list" th:text="${sp.danhMucSanPham.tenDanhMucSanPham} + ' Brand'"></a>
                                                    </h5>
                                                    <div class="rating-box">
                                                        <ul class="rating">
                                                            <th:block th:with="totalStars=${#numbers.sequence(1, 5)}">
                                                                <th:block th:with="totalRatings=${#lists.size(sp.sanPhamDanhGias)}">
                                                                    <th:block th:with="totalStarsCount=0">
                                                                        <th:block th:each="danhGia : ${sp.sanPhamDanhGias}">
                                                                            <th:block th:with="totalStarsCount=${totalStarsCount + danhGia.sao}">
                                                                            </th:block>
                                                                        </th:block>
                                                                    </th:block>
                                                                    <th:block th:with="averageRating=${totalRatings > 0 ? totalStarsCount / totalRatings : 0}">
                                                                        <th:block th:each="star : ${totalStars}">
                                                                            <li th:class="${averageRating >= star} ? 'filled-star' : 'no-star'"><i class="fa fa-star"></i></li>
                                                                        </th:block>
                                                                    </th:block>
                                                                </th:block>
                                                            </th:block>
                                                        </ul>
                                                        </div>
                                                </div>
                                                <h4><a class="product_name" th:href="@{'/user/product-details?productId=' + ${sp.sanPhamId} + '&productName=' + ${sp.tenSanPham}}" th:text="${sp.tenSanPham}"></a></h4>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan.subtract(sp.giaBan.multiply(giamGia.giamGiaTrucTiep.divide(BigDecimal.valueOf(100)))), 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                            <span th:unless="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="new-price" th:unless="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                    </span>
                                                    <span class="old-price" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="${#numbers.formatDecimal(sp.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="discount-percentage" th:if="${sp.sanPhamGiamGiaTrucTieps != null && !sp.sanPhamGiamGiaTrucTieps.isEmpty()}">
                                                        <span th:with="giamGia = ${sp.sanPhamGiamGiaTrucTieps[sp.sanPhamGiamGiaTrucTieps.size() - 1]}">
                                                            <span th:if="${giamGia != null && giamGia.ngayBatDau != null && giamGia.ngayKetThuc != null && giamGia.ngayBatDau.isBefore(#dates.createNow()) && giamGia.ngayKetThuc.isAfter(#dates.createNow())}">
                                                                <span th:text="'-' + ${#numbers.formatDecimal(giamGia.giamGiaTrucTiep, 0, 'COMMA', 0, 'POINT')} + '%'" ></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul class="add-actions-link">
                                                    <li class="add-cart active" th:data-color-id="${sp.sanPhamMauSacs[0].mauSacId}"><a href="#">Thêm vào giỏ</a></li>
                                                    <li><a class="links-details" href="/user/wishlist"><i class="fa fa-heart-o"></i></a></li>
                                                    <li>
                                                        <a href="javascript:void(0)" title="Xem nhanh" class="quick-view-btn" th:onclick="'openQuickViewModal('+${sp.sanPhamId}+')'">
                                                                <i class="fa fa-eye"></i>
                                                        </a>                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</body>
</html>