<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/user/user}">
<head>
  <title>KLB Store</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="/user/index">Home</a></li>
                        <li class="active">Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Shopping-cart-area pt-60 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="li-product-remove">xóa</th>
                                            <th class="li-product-thumbnail">hình ảnh</th>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="li-product-price">Đơn giá</th>
                                            <th class="li-product-quantity">Số lượng</th>
                                            <th class="li-product-quantity">Màu sắc</th>
                                            <th class="li-product-subtotal">Tổng cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item: ${cart}">
                                            <td class="li-product-remove"><a th:href="@{/cart/remove/{colorId}(colorId=${item.mauSac.mauSacId})}"><i class="fa fa-times"></i></a></td>
                                            <td class="li-product-thumbnail"><a href="#"><img th:src="${item.mauSac.duongDanAnh}" alt="Hình ảnh sản phẩm"></a></td>
                                            <td class="li-product-name"><a th:href="@{'/user/product-details?productId=' + ${item.sanPham.sanPhamId} + '&productName=' + ${item.sanPham.tenSanPham}}" th:text="${item.sanPham.tenSanPham}"></a></td>
                                            <td class="li-product-price"><span class="amount" th:text="${#numbers.formatDecimal(item.sanPham.giaBan, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span></td>
                                            <td class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="1" type="text" th:value="${item.soLuong}">
                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>
                                            </td>
                                            <td class="li-product-color"><span class="color" th:data-color-id="${item.mauSac.mauSacId}" th:text="${item.mauSac.tenMauSac}"></span></td>
                                            <td class="product-subtotal"><span class="amount" th:text="${#numbers.formatDecimal(item.sanPham.giaBan * item.soLuong, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Mã giảm giá" type="text">
                                            <input class="button" name="apply_coupon" value="Áp dụng mã giảm giá" type="submit">
                                        </div>
                                        <div class="coupon2">
                                            <input class="button" name="update_cart" value="Cập nhật giỏ hàng" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Tổng cộng giỏ hàng</h2>
                                        <ul>
                                            <li>Tổng phụ <span  th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span></li>
                                            <li>Tổng cộng <span  th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')} + ' ₫'"></span></li>
                                        </ul>
                                        <a href="/user/checkout">Tiến hành thanh toán</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>