<div class="min-height-200px">
	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Danh Sách Đơn Hàng</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/home">Trang Chủ</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Danh Sách Đơn Hàng
						</li>
					</ol>
				</nav>
			</div>

		</div>
	</div>

	<!-- Simple Datatable start -->
	<div class="pd-20 card-box mb-30">
		<!-- <div class="pd-20">
			<h4 class="text-blue h4">Danh Sách Sản Phẩm</h4>
			<p class="mb-0">
				you can find more options
				<a class="text-primary" href="https://datatables.net/" target="_blank">Click Here</a>
			</p>
		</div> -->

		<!-- Nav tabs -->
		<ul style="padding-bottom: 16px;" class="nav nav-tabs">
			<li class="nav-item">
				<button disabled style="margin-right: 8px;" class="btn btn-outline-primary " data-toggle="tab" data-target="#list">Chỉnh Sửa</button>
			</li>
			<li class="nav-item">
				<button class=" btn btn-outline-primary active" data-toggle="tab" data-target="#table">Danh
					Sách</button>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" >
			<div class="tab-pane  container" id="list">
				<form name="myform">
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Mã Đơn Hàng</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].donHang.donHangId" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Tên Sản Phẩm</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].sanPham.tenSanPham" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Màu sắc</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].mauSac.tenMauSac" class="form-control" type="text" readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Giá Bán</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].giaBan | number:0" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Số Lượng</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].soLuong" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Ngày Đặt Hàng</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].donHang.ngayDatHang | date : 'dd-MM-yyyy'" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Tên Khách Hàng</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].donHang.nguoiDung.hoTen" class="form-control" type="text" readonly />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Số Điện Thoại</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].donHang.nguoiDung.sdt" class="form-control" type="text" pattern="0[0123456789]{9,10}"
								placeholder="0-X-XXXX-XXXX" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Hình Thức Thanh Toán</label>
						<div class="col-sm-12 col-md-10">
							<input style="background-color: white;" ng-model="form[0].donHang.hinhThucThanhToan.tenHinhThucThanhToan" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Tổng Tiền</label>
						<div class="col-sm-12 col-md-10">
							<label  class="col-sm-12 col-md-10 col-form-label">{{form[0].giaBan + form[0].soLuong | number:0}} đ</label>
						</div>
					</div>

				</form>
			</div>
			<div class="tab-pane active container" id="table">
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th class="table-plus datatable-nosort">Mã Đơn Hàng</th>
								<th>Tên Sản Phẩm</th>
								<th>Ngày Đặt Hàng</th>
								<th>Tên Khách Hàng</th>
								<th>Số Điện Thoại</th>
								<th>Hình Thức Thanh Toán</th>
								<th>Tổng Tiền</th>
								<th class="datatable-nosort">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ct in ctDonHang">
								<td class="table-plus">{{ct.donHang.donHangId}}</td>
								<td>{{ct.sanPham.tenSanPham}}</td>
								<!-- <td>{{ct.giaBan | number:0}} ₫</td>
								<td>{{ct.soLuong}}</td> -->
								<td>{{ct.donHang.ngayDatHang | date : "dd-MM-yyyy"}}</td>
								<td>{{ct.donHang.nguoiDung.hoTen}}</td>
								<td>{{ct.donHang.nguoiDung.sdt}}</td>
								<!-- <td>{{ct.donHang.diaChiGiaoHang}}</td> -->
								<td>{{ct.donHang.hinhThucThanhToan.tenHinhThucThanhToan}}</td>
								<td>{{ct.giaBan * ct.soLuong | number:0}} ₫</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
											role="button" data-toggle="dropdown">
											<i class="dw dw-more"></i>
										</button>
										<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
											<button ng-click="edit(ct.donHang.donHangId)" class="dropdown-item"><i
													class="dw dw-edit2"></i> Chỉnh Sửa</button>
											<button ng-click="deleteCTDonHang(ct.chiTietDonHangId)"
												class="dropdown-item"><i class="dw dw-delete-3"></i>
												Xóa</button>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<hr style="border: 1px solid lightgray;" />
					<div class="row">
						<div class="col-sm-4" style="font-size: medium;">Trang: {{pager.page +1}} / {{pager.count}}
						</div>
						<div class="col-sm-8">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-end">
									<li class="page-item">
										<button ng-click="pager.first()" class="page-link" tabindex="-1"><i
												class="dw dw-left-arrow2"></i></button>
									</li>
									<li class="page-item">
										<button ng-click="pager.previous()" class="page-link"><i
												class="dw dw-left-arrow-4"></i></button>
									</li>
									<li class="page-item">
										<button ng-click="pager.next()" class="page-link"><i
												class="dw dw-right-arrow-4"></i></button>
									</li>
									<li class="page-item">
										<button ng-click="pager.last()" class="page-link"><i
												class="dw dw-right-arrow1"></i></button>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<!-- Simple Datatable End -->
				
			</div>
		</div>


	</div>