<div class="min-height-200px">
	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Quản Lý Mã Giảm Giá</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">Trang Chủ</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Quản Lý Mã Giảm Giá
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6 col-sm-12 text-right">
				<!-- <div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button"
						data-toggle="dropdown">
						January 2018
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Export List</a>
						<a class="dropdown-item" href="#">Policies</a>
						<a class="dropdown-item" href="#">View Assets</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- Default Basic Forms Start -->
	<div class="pd-20 card-box mb-30">
		<div class="clearfix">
			<div class="pull-left">
				<h4 class="text-blue h4">Quản Lý Mã Giảm Giá</h4>
				<!-- <p class="mb-30">All bootstrap element classies</p> -->
			</div>
		</div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<button class="btn btn-outline-primary " data-toggle="tab" data-target="#list">Chỉnh Sửa</button>
			</li>
			<li class="nav-item">
				<button class=" btn btn-outline-primary active" data-toggle="tab" data-target="#table">Danh
					Sách</button>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content" style="padding-top: 18px;">
			<div class="tab-pane  container" id="list">
				<form name="myform">
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Mã Giảm Giá</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.giamGiaId" class="form-control" type="text" readonly />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Tên Giảm Giá</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.tenGiamGia" class="form-control" type="text" required/>
						</div>
					</div>

					<div class="form-group row">
						<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Ngày
							Bắt Đầu</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.ngayBatDau" class="form-control datetimepicker"
								placeholder="dd-MM-yyyy" type="date" required/>
						</div>
					</div>
					<div class="form-group row">
						<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Ngày
							Kết Thúc</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.ngayKetThuc" class="form-control datetimepicker" type="date" required/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Mức Giảm Giá</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.mucGiamGia" class="form-control" pattern="[0123456789]" type="tel" required/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Mô Tả</label>
						<div class="col-sm-12 col-md-10">
							<input ng-model="form.moTa" class="form-control" type="text" required/>
						</div>
					</div>
					<div class="row">
						<div class="col align-self-end">
							<button ng-click="create()" class="btn btn-outline-success">Thêm</button>
							<button ng-click="update()" class="btn btn-outline-warning">Cập Nhập</button>

							<button ng-click="reset()" class="btn btn-outline-primary">Reset</button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane active container" id="table">
				<table class="data-table table stripe hover nowrap">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort">Mã Giảm Giá</th>
							<th>Tên Giảm Giá</th>
							<th>Ngày Bắt Đầu</th>
							<th>Ngày Kết Thúc</th>
							<th>Mức Giảm Giá</th>
							<th>Mô Tả</th>
							<th class="datatable-nosort">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in pager.items">
							<td class="table-plus">{{item.giamGiaId}}</td>
							<td>{{item.tenGiamGia}}</td>
							<td>{{item.ngayBatDau | date: "dd-MM-yyyy"}}</td>
							<td>{{item.ngayKetThuc | date: "dd-MM-yyyy"}}</td>
							<td>{{item.mucGiamGia}}</td>
							<td>{{item.moTa}}</td>
							<td>
								<div class="dropdown">
									<button class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
										role="button" data-toggle="dropdown">
										<i class="dw dw-more"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
										<button ng-click="edit(item.giamGiaId)" class="dropdown-item"><i
												class="dw dw-edit2"></i> Chỉnh
											Sửa</button>
										<button ng-click="delete(item.giamGiaId)" class="dropdown-item"><i
												class="dw dw-delete-3"></i>
											Xóa</button>
									</div>
								</div>
							</td>
						</tr>


					</tbody>
				</table>
				<hr style="border: 1px solid lightgray;" />
				<div class="row">
					<div class="col-sm-4" style="font-size: medium;">Trang: {{pager.page +1}} / {{pager.count}}</div>
					<div class="col-sm-8">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end">
								<li class="page-item">
									<button ng-click="pager.first()" class="page-link" tabindex="-1"><i
											class="dw dw-left-arrow2"></i></button>
								</li>
								<li class="page-item">
									<button ng-click="pager.previous()" class="page-link"><i
											class="dw dw-left-arrow-4"></i></button>
								</li>
								<li class="page-item">
									<button ng-click="pager.next()" class="page-link"><i
											class="dw dw-right-arrow-4"></i></button>
								</li>
								<li class="page-item">
									<button ng-click="pager.last()" class="page-link"><i
											class="dw dw-right-arrow1"></i></button>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>


	</div>

	<!-- Default Basic Forms End -->

</div>