<div class="page-header">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="title">
				<h4>Quản Lý Nhà Cung Cấp</h4>
			</div>
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Trang Chủ</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">
						Quản Lý Nhà Cung Cấp
					</li>
				</ol>
			</nav>
		</div>
		<div class="col-md-6 col-sm-12 text-right">
			<!-- <div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button"
				data-toggle="dropdown">
				January 2018
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#">Export List</a>
					<a class="dropdown-item" href="#">Policies</a>
					<a class="dropdown-item" href="#">View Assets</a>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
	
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#nhacungcap">nhacungcap</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#1">Menu 1</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#2">Menu 2</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active container" class="nhacungcap">
			<form>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Mã Nhà Cung Cấp</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control" type="text" placeholder="NC0001" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Tên Nhà Cung Cấp</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control" type="text" placeholder="Asus" />
					</div>
				</div>
		
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Tên Giao Dịch</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control" type="text" placeholder="Mua " />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Email</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control" type="text" placeholder="lunguyen@gmail.com" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Số Điện Thoại</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control" type="text" placeholder="XX-XXXX-XXXX" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Hiển Thị</label>
					<div class="col-sm-12 col-md-10">
						<label class="switch">
							<input type="checkbox">
							<span class="slider round"></span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col align-self-end">
						<button class="btn btn-outline-danger">Xóa</button>
						<button class="btn btn-outline-warning">Cập Nhập</button>
						<button class="btn btn-outline-success">Thêm</button>
		
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane container" id="1">...</div>
		<div class="tab-pane container" id="2">...</div>
	</div>
	

</div>