<div class="min-height-200px">
	<div class="page-header">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="title">
					<h4>Quản Lý Sản Phẩm</h4>
				</div>
				<nav aria-label="breadcrumb" role="navigation">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">Trang Chủ</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							Quản Lý Sản Phẩm
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-md-6 col-sm-12 text-right">
				<!-- <div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button"
					data-toggle="dropdown">
					January 2018
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Export List</a>
						<a class="dropdown-item" href="#">Policies</a>
						<a class="dropdown-item" href="#">View Assets</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- Default Basic Forms Start -->
	<div class="pd-20 card-box mb-30">
		<div class="clearfix">
			<div class="pull-left">
				<h4 class="text-blue h4">Quản Lý Sản Phẩm</h4>
				<!-- <p class="mb-30">All bootstrap element classies</p> -->
			</div>

		</div>
		<form>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Mã Sản Phẩm</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" type="text" placeholder="SP0001" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Tên Sản Phẩm</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" type="text" placeholder="Laptop Asus Vivobook" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Giá Bán</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" type="text" placeholder="17.990.000đ" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Tồn Kho</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" value="10" type="number" />
				</div>
			</div>

			<div class="form-group row">
				<label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Ngày
					Tạo</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control datetimepicker" placeholder="dd-MM-yyyy" type="text" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Danh Mục</label>
				<div class="col-sm-12 col-md-10">
					<select class="custom-select col-12">
						<option selected="">...</option>
						<option value="1">Asus</option>
						<option value="2">Dell</option>
						<option value="3">HP</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Xuất Xứ</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" type="text" placeholder="Trung Quốc" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Mô Tả</label>
				<div class="col-sm-12 col-md-10">
					<input class="form-control" type="text" placeholder="i5 8gb" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Hình Sản Phẩm</label>
				<div class="col-sm-12 col-md-10 form-control-file height-auto">
					Chờ Thêm Ảnh

				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-md-2 col-form-label">Hiển Thị</label>
				<div class="col-sm-12 col-md-10">
					<input type="checkbox" checked class="switch-btn" data-size="small" data-color="#0099ff"
						data-secondary-color="#F56767" />
				</div>
			</div>
			<div class="row">
				<div class="col align-self-end">
					<button class="btn btn-outline-danger">Xóa</button>
					<button class="btn btn-outline-warning">Cập Nhập</button>
					<button class="btn btn-outline-success">Thêm</button>

				</div>
			</div>
		</form>

	</div>

	<!-- Default Basic Forms End -->

</div>